.detailContainer{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;
}

.itemDetail{
    width: 70%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    padding: 3rem;
    position: relative;
}
.itemDetail img{
    width: 600px;
}
.item__info h5, h2{
    color: rgb(157, 197, 74);
}
.item__info h2{
    font-size: 2.5rem;
    font-weight: bold;
}
.price{
    display: flex;
    justify-content: space-between;
}
.price h6{
    align-self: flex-end;
}
hr{
    margin-top: 0;
}
.itemCounter{
margin-bottom: 2rem;
}
.accordion{
    height: 200px;
    width: 100%;
}
.accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow:none;
}
.accordion-button:not(.collapsed) {
    color: white;
    font-weight: bold;
    background-color: rgb(157, 197, 74);
}

#backButton{
    position: absolute;
    right: 3rem;
    top: 2rem;
    color: rgb(157, 197, 74);
}
#backButton svg{
    background-color: rgba(211, 211, 211, 0.3);
    border-radius: 50%;
    font-size: 4rem;
    padding: 1rem;
}

.modal-backdrop{
display: none;
}
.modal{
    pointer-events: none;
}
.modal-dialog{
    margin-right: 2rem;
    top: 1rem;
    width: 100%;
}
.modal-dialog .modal-content{
    right: 0;
    border: 2px solid rgb(157, 197, 74);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    text-align: center;
}
.modal-dialog .modal-content span{
    color: rgb(157, 197, 74);
    font-weight: bold;
}

@media screen and (max-width: 1650px){
    .itemDetail{
        width: 100%;
        padding: 4rem;
    }
}
@media screen and (max-width: 1200px){
    .itemDetail{
        width: 100%;
        padding: 2rem;
        align-items: center;
    }
    .itemDetail img{
        width: 500px;
    }
    .item__info{
        width: 450px;
    }
}
@media screen and (max-width:991px) {
    .itemDetail{
        grid-template-columns: 100%;
        grid-template-rows: 40% 1fr;
        align-items: center;
        justify-items: center;
        width: 100%;
    }
    .modal-dialog{
        margin:1rem auto
    }    
}
@media screen and (max-width:700px){
    .itemDetail{
        grid-template-rows: 30% 1fr;
    }
    .itemDetail img{
        width: 350px;
    }
    .item__info{
        width: 350px;
    }
    .item__info .accordion{
        height: 300px;
    }
    #backButton{
        position: absolute;
        right: 1.5rem;
        top: 2rem;
        color: rgb(157, 197, 74);
    }
    #backButton svg{
        background-color: rgba(211, 211, 211, 0.5);
        border-radius: 50%;
        font-size: 3rem;
        padding: .5rem;
    }
    .modal-dialog{
        width: 340px;
    }
    .modal-dialog .modal-content{
        font-size: .8rem;
    }
}