.contenedor__prod{
    margin-top: 150px;
    width: 70%;
}
.lista__prod{
    row-gap: 2rem;
}
.prod{
    display: flex;
    justify-content: center;
}
.prod .card{
    margin: 0;
    min-width: 286px;
    cursor: pointer;
}
.prod a{
    color: black;
    transition: color .5s ease-in-out;
}
.card{
    position: relative;
    height: 370px;
    overflow: hidden;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform .5s ease-in-out, box-shadow .5s ease-in-out;
}
.card:hover #prodName{
    color: rgb(157, 197, 74);
    transition: color .5s ease-in-out;
}
.card:hover{
    transform: scale(1.02);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.card-img-top{
    position: relative;
}
.card-body{
    position: absolute;
    width: 100%;
    transform: translateY(290px);
    transition-property: transform;
    transition: .5s ease-in-out;
    background-color: white;
}

.item__numbers{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: .5rem;
}
.item__numbers .weight{
    font-weight: lighter;
}
.item__numbers .price{
    color: rgb(157, 197, 74);
    font-weight: bold;
}

.title__card{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.title__card button{
    width: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(157, 197, 74);
}
.bntAddedContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 2rem 0;
}
.btnAdded{
    background-color: rgb(157, 197, 74);
    border: none;
    outline: none;
    color: white;
    border: 2px solid rgb(157, 197, 74);
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    transition: .5s ease-in-out;
}
.btnAdded:hover{
    background-color: white;
    color: rgb(157, 197, 74);
    border: 2px solid rgb(157, 197, 74);
}

@media screen and (max-width:700px) {
    .btnAdded{
        font-size: 1rem;
        padding: 1rem 2rem;
    }
}