.contenedor__prod{
    margin-top: 150px;
    width: 80%;
}
.filter__prod{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.filter__prod .breadcrumb__prod a{
text-decoration: none;
color: rgb(157, 197, 74);
margin: 0;
font-size: 1.2rem;
}
.filter__prod .breadcrumb__prod span{
    color: gray;
    pointer-events: none;
}
.lista__prod{
    row-gap: 2rem;
}
.order__prod{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.order__prod .viewRow__prod ul{
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}
.order__prod .viewRow__prod ul li{
    list-style: none;
}
.order__prod .viewRow__prod ul li button{
    background-color: transparent;
    border: none;
}
.order__prod .viewRow__prod ul li button svg{
    fill: rgb(157, 197, 74);
    font-size: 1.5rem;
    transition: fill .5s ease-in-out;
    pointer-events: none;
} 
.order__prod .viewRow__prod ul li button svg:hover{
    fill: rgb(108, 136, 51);
}
.order__prod select{
    cursor: pointer;
    border: 1px solid rgb(157, 197, 74);
}
.order__prod select:focus{
    border: 1px solid rgb(157, 197, 74);
    box-shadow: 0px 0px 5px rgb(157, 197, 74);
}
.prod{
    display: flex;
    justify-content: center;
}

.prod a{
    color: black;
    transition: color .5s ease-in-out;
    text-decoration: none;
}
.card{
    margin: 0;
    width: 350px;
    cursor: pointer;
    height: 400px;
    overflow: hidden;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform .5s ease-in-out, box-shadow .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card__normal{
    width: 350px;
    height: 400px;
}
.card__mini{
    width: 210px;
    height: 280px;
}
.card .img__mini{
    width: 150px;
}
.card .img__normal{
    width: 300px;
}
.card img{
    width: 300px;
    margin-top: 1rem;
}

.card:hover #prodName{
    color: rgb(157, 197, 74);
    transition: color .5s ease-in-out;
}
.card:hover{
    transform: scale(1.02);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.card-body{
    width: 100%;
    transition-property: transform;
    transition: .5s ease-in-out;
    background-color: white;
    flex: none;
    padding-bottom: .5rem;
}

.item__numbers{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: .5rem;
}
.item__numbers .weight{
    font-weight: lighter;
}
.item__numbers .price{
    color: rgb(157, 197, 74);
    font-weight: bold;
}

.title__card{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.title__card button{
    width: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(157, 197, 74);
}
.bntAddedContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 2rem 0;
}
.btnAdded{
    background-color: rgb(157, 197, 74);
    border: none;
    outline: none;
    color: white;
    border: 2px solid rgb(157, 197, 74);
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    transition: .5s ease-in-out;
}
.btnAdded:hover{
    background-color: white;
    color: rgb(157, 197, 74);
    border: 2px solid rgb(157, 197, 74);
}

@media screen and (max-width:991px) {
    .order__prod .viewRow__prod{
        display: none;
    }
}
@media screen and (max-width:700px) {
    .contenedor__prod{
        width: 90%;
    }
    .btnAdded{
        font-size: 1rem;
        padding: 1rem 2rem;
    }
    .order__prod .form-select{
        width: 150px;
        font-size: .8rem;
    }
    .order__prod .form-select option{
        padding: 0;
        text-align: center;
    }
    .card{
        width: 280px;
        height: 380px;
    }
    .card img{
        width: 250px !important;
    }
}
@media screen and (max-width:450px){
.contenedor__prod{
    width: 100%;
    padding: 0 1rem;
}
}