.itemCounter{
    display: flex;
    flex-direction: column;
}
.itemCounterBtn{
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius:10px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.itemCounterBtn .minusPlus{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(157, 197, 74);
}
.itemCounterBtn #itemAddCounter{
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    pointer-events: none;
    font-size: 1rem;
    font-weight: bold;
    width: 50%;
}

#addItemBtn{
    background-color: rgb(157, 197, 74);
    border: none;
    outline: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    border-radius: 10px;
    width: 100%;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
}
#addItemBtn:hover{
    background-color: rgb(97, 122, 46);
}

#stockCounterLabel{
    font-size: .8rem;
    align-self: end;
    margin-right: .2rem;
    margin-bottom: .2rem;
    color: rgb(157, 197, 74);
}
.title__modal{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.title__modal h2{
font-size: 1.5rem;
margin: 0 1rem;
color: rgb(157, 197, 74);
}
.mesage__modal{
    text-align: center;
    font-size: 1.5rem;
}
